<!DOCTYPE html>
<html>
  <head>
    <title>Registrazione</title>
  </head>
  <body>
    <h2>Registrati</h2>
    <input type="text" id="reg_username" placeholder="Username" /><br />
    <input type="password" id="reg_password" placeholder="Password" /><br />
    <button onclick="register()">Registrati</button>
    <p>Hai già un account? <a href="/login">Accedi</a></p>
    <script>
      async function register() {
        let username = document.getElementById("reg_username").value;
        let password = document.getElementById("reg_password").value;

        let response = await fetch("/api/register", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password }),
        });

        let data = await response.json();
        if (response.ok) {
          window.location.href = "/";
        } else if (data.errcode === 4003) {
          localStorage.setItem("username", username);
          localStorage.setItem("password", password);
          window.location.href = "/login";
        } else {
          alert(data.message);
        }
      }
      document.getElementById("reg_username").value =
        localStorage.getItem("username") || "";
      document.getElementById("reg_password").value =
        localStorage.getItem("password") || "";
        localStorage.clear();
    </script>
  </body>
</html>
